<div class="container mt-5">
  <div class="row d-flex flex-column align-items-center">
    <div class="col-4">
      <select class="form-select" aria-label="Default select example">
        <option selected>類別</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
      </select>
    </div>
    <div class="col-4 text-center mt-3">
      <p class="m-0">總金額: 0元</p>
    </div>
    <ul class="list-group col-8 mt-3">
      <li class="list-group-item d-flex flex-row align-items-center">
        <div class="col-3 ">ICON</div>
        <div class="col-4">
          <p class="m-0">午餐</p>
          <p class="m-0">2021/12/21</p>
        </div>
        <div class="col-3 text-center">60元</div>
        <a class="col-1 text-end" href="/edit">修改</a>
        <a class="col-1 text-end" href="/">刪除</a>
      </li>
      <li class="list-group-item d-flex flex-row align-items-center">
        <div class="col-3 ">ICON</div>
        <div class="col-4">
          <p class="m-0">晚餐</p>
          <p class="m-0">2021/12/21</p>
        </div>
        <div class="col-3 text-center">60元</div>
        <a class="col-1 text-end" href="/edit">修改</a>
        <a class="col-1 text-end" href="/">刪除</a>
      </li>
      <li class="list-group-item d-flex flex-row align-items-center">
        <div class="col-3 ">ICON</div>
        <div class="col-4">
          <p class="m-0">捷運</p>
          <p class="m-0">2021/12/21</p>
        </div>
        <div class="col-3 text-center">120元</div>
        <a class="col-1 text-end" href="/edit">修改</a>
        <a class="col-1 text-end" href="/">刪除</a>
      </li>
    </ul>
    <a class="btn btn-primary col-3 mt-4" href="/new" role="button">新增支出</a>
  </div>
</div>